/* required elements */
header {
    position:sticky;
    top: 0;
    background-color: rgb(235, 235, 235);
    color: rgb(255, 205, 103);
    padding: 20px 0;
    text-align:center;
}

footer 
{
    background-color: rgb(152, 203, 204);
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

a {
    border-radius: 8px;
    color: rgb(152, 203, 204);
    padding: 1em;
    text-decoration: none;
}

ul strong {
    padding: 1em;
}

nav a:hover {
    background-color: rgb(219, 219, 219);
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

figure {
    display:block;
    text-align:center;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    padding: 0.5em 1em 1em 1em;
    background-color: rgb(235, 235, 235);
}

figcaption {
    margin: 1em;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid;
}

#PhotoOfMe {
    max-width: 100%;

}

.AboutMe {
    background-color:rgb(219, 219, 219)
}

/* end of required elements */